<!-- Marketing messaging and featurettes
    ================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->

<div class="container marketing">

  <!-- Three columns of text below the carousel -->
  <div class="row">
    <div class="col-lg text-center">
      <span class="fa-stack" style="vertical-align: top; font-size: 80px">
        <i class="fa-solid fa-circle fa-stack-2x fa-fw"></i>
        <i class="fa-solid fa-display fa-stack-1x fa-inverse fa-fw"></i>
      </span>

      <h2 class="fw-normal mt-3">Sistemas Web</h2>
      <p><strong>Automatize e otimize seu negócio com sistemas web sob medida!</strong></p>

      <p>
        Criar soluções customizadas que atendem às necessidades específicas do seu negócio, melhorando a eficiência e a produtividade da sua empresa, com sistemas escaláveis e seguros.
      </p>

    </div>

    <div class="col-lg text-center">
      <span class="fa-stack" style="vertical-align: top; font-size: 80px">
        <i class="fa-solid fa-circle fa-stack-2x fa-fw"></i>
        <i class="fa-solid fa-mobile fa-stack-1x fa-inverse fa-fw"></i>
      </span>

      <h2 class="fw-normal mt-3">Mobile</h2>
      <p><strong>Leve seu negócio para o próximo nível com nossos apps!</strong></p>

      <p>
        Crie aplicativos que proporcionam experiências excepcionais para os usuários. Com uma abordagem centrada no usuário, garantimos que seu app será uma extensão eficaz e inovadora do seu negócio.
      </p>

    </div><!-- /.col-lg-4 -->

    <div class="col-lg text-center">
      <span class="fa-stack" style="vertical-align: top; font-size: 80px">
        <i class="fa-solid fa-circle fa-stack-2x fa-fw"></i>
        <i class="fa-solid fa-server fa-stack-1x fa-inverse fa-fw"></i>
      </span>

      <h2 class="fw-normal mt-3">Hospedagem</h2>
      <p><strong>Hospedagem confiável e segura para seu site ou sistema!</strong></p>

      <p>
        Garantimos disponibilidade, desempenho e segurança robusta para manter seu projeto sempre online e protegido.
      </p>

    </div><!-- /.col-lg-4 -->
  </div><!-- /.row -->


  <!-- START THE FEATURETTES -->

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading fw-normal lh-1">First featurette heading. <span class="text-body-secondary">It’ll blow your mind.</span></h2>
      <p class="lead">Some great placeholder content for the first featurette here. Imagine some exciting prose here.</p>
    </div>
    <div class="col-md-5">
      <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false">
        <title>Placeholder</title>
        <rect width="100%" height="100%" fill="var(--bs-secondary-bg)" /><text x="50%" y="50%" fill="var(--bs-secondary-color)" dy=".3em">500x500</text>
      </svg>
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7 order-md-2">
      <h2 class="featurette-heading fw-normal lh-1">Oh yeah, it’s that good. <span class="text-body-secondary">See for yourself.</span></h2>
      <p class="lead">Another featurette? Of course. More placeholder content here to give you an idea of how this layout would work with some actual real-world content in place.</p>
    </div>
    <div class="col-md-5 order-md-1">
      <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false">
        <title>Placeholder</title>
        <rect width="100%" height="100%" fill="var(--bs-secondary-bg)" /><text x="50%" y="50%" fill="var(--bs-secondary-color)" dy=".3em">500x500</text>
      </svg>
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading fw-normal lh-1">And lastly, this one. <span class="text-body-secondary">Checkmate.</span></h2>
      <p class="lead">And yes, this is the last block of representative placeholder content. Again, not really intended to be actually read, simply here to give you a better view of what this would look like with some actual content. Your content.</p>
    </div>
    <div class="col-md-5">
      <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false">
        <title>Placeholder</title>
        <rect width="100%" height="100%" fill="var(--bs-secondary-bg)" /><text x="50%" y="50%" fill="var(--bs-secondary-color)" dy=".3em">500x500</text>
      </svg>
    </div>
  </div>

  <hr class="featurette-divider">

  <!-- /END THE FEATURETTES -->

</div><!-- /.container -->